<!-- NAVBAR-->
<header class="header fixed-top header-animated">
  <nav class="navbar navbar-expand-lg navbar-light py-3">
    <div class="container">
      <a class="navbar-brand" href="{{ site.url }}">
        <img src="/assets/img/logo.svg" alt="{{ site.url }}" width="80">
      </a>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {% for page in site.pages %}
            {% if page.title %}
              <li class="nav-item">
                <a class="nav-link {% if page.title=='nos formations' %}
                btn btn-primary text-white
                {% endif %}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
