<!-- NAVBAR-->
<main class="fixed-top">
  <section id="topbar" class="d-none d-lg-block">
    <div class="container py-3 text-center">
      <span class="h6 font-weight-bold text-white">Prévisualisation de la version de développement du site. Notre architecte <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}" title="Flavien-HUGS est notre développeur en Chef.">flavien-hugs</a> travaille a pied d'oeuvre pour sa finalisation.</span>
    </div>
  </section><!-- endTopBar -->
 
  <header class="header header-animated">
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
      <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <span class="font-weight-bold text-uppercase text-primary">adn numérique</span>
        </a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            {% for item in site.data.nav.menu %}
              {% if item.title %}
                <li class="nav-item">
                  <a class="nav-link {% if item.title=='nos formations' %}
                  btn btn-primary text-white shadow-sm p-2
                  {% endif %}" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </header><!-- endMenuBar -->
</main>