<div class="row container d-flex justify-content-center pt-4">
    <p class="text-uppercase h4 justify-content-center d-flex mb-4"><a href="#" class="btn btn-md btn-primary" title="inscription">je m'inscris maintenant</a></p>
    <div class="ml-3">
        <ul class="list-unstyled">
            <li class="mb-2">
                <a target="_blank" href="https://api.whatsapp.com/send?phone=22551571396&amp;text={{ page.title }}" onclick="gtag('config', 'UA-87674588-1', {'page_path': '/vpv/whatsapp'})" class="social-link align-items-center py-2 px-3 d-inline-block d-sm-none font-weight-bold"><i class="fab fa-whatsapp fa-fw mr-2"></i>Echangeons sur WhatsApp</a><a target="_blank" href="https://web.whatsapp.com/send?phone=22551571396&amp;text={{ page.title }}" onclick="gtag('config', 'UA-87674588-1', {'page_path': '/vpv/whatsapp'})" class="social-link align-items-center py-2 px-3 d-none d-sm-inline-block font-weight-bold"><i class="fab fa-whatsapp fa-fw mr-2"></i><span>Discuter avec nous WhatsApp</span></a>
            </li>
        </ul>
    </div>
</div>