<div class="container-fluid text-uppercase bg-transparent py-4">
    <div class="row btn-group">
        <a class="btn btn-md btn-primary shadow-sm mb-2 mb-sm-0 mr-sm-2" href="#" target="_blank">je m'inscris maintenant</a>

        <a hhref="https://api.whatsapp.com/send?phone={{ page.contact }}&amp;text={{ page.title }}" onclick="gtag('config', 'UA-87674588-1', {'page_path': '/vpv/whatsapp'})" target="_blank" class="btn btn-md btn-success shadow-sm">discutons sur WhatsApp</a>
    </div>
</div>
