<section class="bg-light py-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <p class="h6 text-primary text-uppercase">quelques témoignages</p>
        <h2>Ce que disent nos clients de nos services</h2>
        <p class="text-muted mb-5">Quelques témoignages de nos anciens apprenants</p>
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="testimonials-slider owl-carousel owl-theme owl-dots-left">
          {% for item in site.data.testimonial.data %}
            <div class="item">
              <blockquote class="blockquote border-0 p-0">
                <p class="blockquote-text text-muted">
                  {{ item.content }}
                </p>
              </blockquote>
              <footer class="blockquote-footer">
                <div class="media align-items-center">
                  <img class="rounded-circle shadow-sm" src="{{ item.image | prepend: site.baseurl }}" alt="{{ item.name }}" width="50">
                  <div class="media-body ml-3">
                    <h5 class="text-dark mb-0">{{ item.name }}</h5>
                    <cite class="text-gray">{{ site.profesion }}</cite>
                  </div>
                </div>
              </footer>
            </div>
          {% endfor %}
        </div>
      </div>
          <!--<div class="col-lg-5 ml-auto">
            <div class="row">
              <div class="col-lg-6 col-6 mb-4">
                <div class="card shadow">
                  <div class="card-body text-center">
                    <svg class="svg-icon text-primary mb-3">
                      <use xlink:href="#user-1"> </use>
                    </svg>
                    <h3 class="mb-1">1600</h3>
                    <p class="text-muted mb-0">Active users</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-6 mb-4">
                <div class="card shadow">
                  <div class="card-body text-center">
                    <svg class="svg-icon text-primary mb-3">
                      <use xlink:href="#destination-map-1"> </use>
                    </svg>
                    <h3 class="mb-1">2500</h3>
                    <p class="text-muted mb-0">Global clients</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-6">
                <div class="card shadow">
                  <div class="card-body text-center">
                    <svg class="svg-icon text-primary mb-3">
                      <use xlink:href="#quality-1"> </use>
                    </svg>
                    <h3 class="mb-1">215</h3>
                    <p class="text-muted mb-0">Win award</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-6">
                <div class="card shadow">
                  <div class="card-body text-center">
                    <svg class="svg-icon text-primary mb-3">
                      <use xlink:href="#sales-up-1"> </use>
                    </svg>
                    <h3 class="mb-1">2150</h3>
                    <p class="text-muted mb-0">Client satisfaction</p>
                  </div>
                </div>
              </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>