---
layout: default
title: Nos formations
---

<div class="transition-fade" id="swup">
<aside class="hero d-flex align-items-center showcase">
  <div class="container-fluid justify-content-center p-0 mt-5">
    <div class="row no-gutters pt-5">
      <div class="col-lg-7 mt-auto mt-sm-0 order-lg-1">
        <img class="w-100 d-none d-lg-block" src="{{ site.baseurl }}/assets/img/lms.png" alt="{{ page.title }}">
      </div>

      <div class="col-sm-12 col-lg-5 order-lg-2 showcase-text bg-primary align-middle text-center text-sm-left">
        <h1 class="my-2 text-white" style="font-size:2.5rem;font-weight:700;">Je me forme aux outils du numérique.</h1>

        <p class="text-white lead">L'outil informatique vous intéresse, mais vous n’y connaissez rien ? Vous décrochez quand vous êtes confronter à des difficultés ? Découvrez nos modules de formation adaptés à vôtre niveau de compréhension. Nous vous formons aux compétences les plus recherchées dans le domaine du numérique.</p>
      </div>
    </div>
  </div>
</aside>

<section class="container pb-5">
    <div class="row">
        <div class="col py-4">
            <nav ari-label="breadcrumb">
                <ol class="breadcrumb text-primary">
                    <li class="breadcrumb-item"><a href="{{ site.baseurl }}"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      {%- if page.title != "" -%}
                        <span class="text-primary">
                        {{ page.title | escape }}</span>
                      {%- endif -%}
                  </li>
              </ol>
            </nav>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="container mb-2">
            <div class="row">
                <!-- paginated posts -->
                {% for post in paginator.posts %}
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="card h-100 border">
                        <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                            <img src="{{ site.baseurl }}{{ post.image.feature }}" class="card-img-top img-fluid"
                            alt="{{ post.title }}">
                        </a>

                        <div class="card-body card-hover">
                            {%- if post.category.size >=1 -%}
                                {% for cat in post.category %}
                                <span class="badge badge-primary mb-2 p-2"><a href="{{ site.baseurl }}/category#{{ cat }}" title="{{ cat }}" class="text-white">{{ cat }}</a>
                                </span>
                                {% endfor %}
                            {%- endif -%}

                            <h5 class="card-title">
                                <a href="{{ post.url | prepend: site.baseurl }}" class="stretched-link text-decoration-none" style="color:#7551eb;">
                                {{ post.title | link_to: post.url }}</a>
                            </h5>

                            <span class="badge badge-primary text-uppercase mb-2 p-2 border-0">{{ post.level }}</span>

                            <span class="badge badge-primary mb-2 p-2 border-0">
                                <i class="fas fa-calendar mr-2"></i>Débute le {{ post.date | date_to_long_string }}
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Pagination links -->
            {% include paginate.html %}
        </div>
    </div>
</section>
</div>