<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <!-- GET a QUOTE MODAL -->
    <div class="modal fade" id="quoteForm" tabindex="-1" role="dialog" aria-labelledby="quoteForm" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content p-md-3">
          <div class="modal-header">
            <h4 class="modal-title">Request a <span class="text-primary">quote</span></h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <form action="#">
              <div class="row">
                <div class="form-group col-lg-6">
                  <label class="font-weight-bold text-small" for="firstname">First name<span class="text-primary ml-1">&#42;</span></label>
                  <input class="form-control" id="firstname" type="text" placeholder="Enter your first name" required>
                </div>
                <div class="form-group col-lg-6">
                  <label class="font-weight-bold text-small" for="lastname">Last name<span class="text-primary ml-1">&#42;</span></label>
                  <input class="form-control" id="lastname" type="text" placeholder="Enter your last name" required>
                </div>
                <div class="form-group col-lg-12">
                  <label class="font-weight-bold text-small" for="email">Email address<span class="text-primary ml-1">&#42;</span></label>
                  <input class="form-control" id="email" type="email" placeholder="Enter your email address" required>
                </div>
                <div class="form-group col-lg-6">
                  <label class="font-weight-bold text-small" for="phone">Phone number <small class="small text-gray">optional</small></label>
                  <input class="form-control" id="phone" type="tel" placeholder="Enter your phone number">
                </div>
                <div class="form-group col-lg-6">
                  <label class="font-weight-bold text-small" for="projecttype">Project type<span class="text-primary ml-1">&#42;</span></label>
                  <input class="form-control" id="projecttype" type="text" placeholder="Enter your project type" required>
                </div>
                <div class="form-group col-lg-6">
                  <label class="font-weight-bold text-small" for="budget">Estimated budget<span class="text-primary ml-1">&#42;</span></label>
                  <input class="form-control" id="budget" type="text" placeholder="Enter your estimated budget" required><small class="form-text text-muted">Project budget will be on <span class="text-dark">$</span></small>
                </div>
                <div class="form-group col-lg-6">
                  <label class="font-weight-bold text-small" for="timeframe">Time frame<span class="text-primary ml-1">&#42;</span></label>
                  <input class="form-control" id="timeframe" type="text" placeholder="Maximum time for the project" required>
                </div>
                <div class="form-group col-lg-12">
                  <label class="font-weight-bold text-small" for="projectdetail">Project details<span class="text-primary ml-1">&#42;</span></label>
                  <textarea class="form-control" id="projectdetail" rows="5" placeholder="Provide a short brief about your project" required></textarea>
                </div>
                <div class="form-group col-lg-12">
                  <button class="btn btn-primary" type="submit">Submit your request</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- HERO SECTION-->

    <div class="page-content">
      <div class="wrapper">
        <div class="content left">{{ content }}</div>
        <div class="sidebar right">
          {% include sidebar.html %}</div>
      </div>
    </div>

    {% include footer.html %}
  </body>

</html>
