---
layout: default
---

<aside class="hero d-flex align-items-center showcase bg-light">
  <div class="container-fluid justify-content-center p-0 mt-5">
    <div class="row no-gutters py-5">
      <div class="col-sm-6 mt-auto mt-sm-0 order-lg-1">
        <img class="w-75 d-none d-md-block" src="{{ site.baseurl }}/assets/img/{{ page.image.feature }}" alt="{{ page.title }}">
      </div>

      <div class="col-sm-12 col-md-6 order-lg-2 showcase-text bg-primary text-white text-center text-sm-left">
        <h3>{{ page.title }}</h3>
        <p class="font-weight-bold text-uppercase h5 text-white py-2">
          <span><i class="fas fa-calendar mr-2"></i>
            début : {{ page.start }}
          </span> &smid;

          <span><i class="fa fa-check mr-2"></i> {{ page.price }}
          </span>
        </p>
        <p class="lead mb-0 text-justify py-2 text-white">
          {{ page.target }} <u><a href="#about-course" class="font-weight-bold text-white">en s'avoir plus...</a></u>
        </p>

        <p class="py-3 text-uppercase shadow-none">
          <span><a href="#" class="btn btn-md btn-primary">je m'inscris</a></span>
        </p>
      </div>
    </div>
  </div>
</aside>

<section class="container py-4">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <article class="mb-2 text-justify lead">
        {{ content }}
      </article>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="card mb-2 text-white bg-primary">
        <div class="card-body">
          <p class="card-title h4 py-4 border-bottom text-left">Détail sur la formation</p>
          <ul class="list-group list-group-flush text-uppercase text-left h5">
            <li class="bg-transparent list-group-item border-white py-3"><span><i class="fa fa-calendar mr-2"></i>débute le {{ page.start }}</span>
            </li>

            <li class="bg-transparent list-group-item border-white py-3"><span><i class="fa fa-calendar mr-2"></i>{{ page.time }} &smid; {{ page.hour }}</span>
            </li>

            <li class="list-group-item bg-transparent border-white py-3"><span><i class="fa fa-users mr-2"></i>{{ page.person }}</span></li>

            <li class="list-group-item bg-transparent border-white py-3"><span><i class="fa fa-tags mr-2"></i>niveau {{ page.level }}</span></li>

            <li class="list-group-item bg-transparent border-white py-3"><span><i class="fa fa-location-arrow mr-2"></i>{{ page.location }}</span></li>

            <li class="list-group-item text-uppercase bg-transparent border-white text-center py-4"><a class="btn btn-md btn-light" href="#">je m'inscris</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
